
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



<style>
    .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }
</style>

<section class="content-header">
    <h1 id="content_header">Notifications</h1>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary with-border" id="NotificationDIV">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitle">Notifications</h3>

            </div>
            <div class="box-body">
                <div class="col-md-12" id="NotificationTable">
                    <div id="NotificationDetails">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section LocalJs{

    <script>
        debugger;
        $(document).ready(function () {
           
            refreshDataTable();
            
        });
        function refreshDataTable() {
            debugger;

            $("#NotificationDetails").load("@Url.Action("NotificationTablePartial", "Notification")", function () {
                $("#TableNotification").DataTable();

         });

        }
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script src="https://unpkg.com/bootstrap-multiselect@0.9.13/dist/js/bootstrap-multiselect.js"></script>
    }

