
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<link href="~/ThemeContent/css/EmployeeStyleSheet.css" rel="stylesheet" />
<section class="content-header padding-title">
    <h1>Assignee Details</h1>
</section>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary with-border" id="AssigneeDataDIV">
            <div class="box-header with-border">
                <h3 class="box-title" id="boxTitle">Add Assignee Details</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12 padding-left" id="AssigneeForm">
                    <div class="col-md-4 padding-left">
                        <div class="form-group">
                            <div class="box-body padding-left">
                                <div class="form-group" id="AssigneeNameDIV">
                                    <label>Assignee Name<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" maxlength="25" id="TxtAssigneeName" placeholder="Enter Assignee Name" autocomplete="off" />
                                    <span class="help-block" id="ErrorForAssigneeName"></span>
                                </div>
                            </div>
                            <div class="box-footer padding-left">
                                <button type="button" class="btn btn-success" id="btnSave" onclick="SaveFormData();" style="margin-right: 10px;width:110px;">Save</button>
                                <button type="button" class="btn btn-danger" id="btnreset" onclick="ResetFormData();" style="width:110px;">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8" id="AssigneeTable">
                        <div class="box box-primary with-border">
                            <div class="box-body">
                                <div id="AssigneeDetails"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section LocalJs{
    <script>
        $(document).ready(function () {
            debugger;
            refreshDataTable(0)
        });
        function refreshDataTable(pageId) {
            debugger;
            $("#AssigneeDetails").load("@Url.Action("EmployeeTablePartial", "Employee")", function () {

                var pageToSet = pageId;
                var myDataTable = $('#TableAssignee').DataTable({
                });
                $("#TableAssignee").removeClass('dataTable');
                $(".col-sm-12").addClass('overflow');
                $(".col-sm-12").css('padding-right', '0px');
                if (pageId != 0) {
                    sessionStorage.setItem('pageId', 0);
                }
                myDataTable.page(pageToSet).draw(false);
            });
        }
    </script>
    <script src="~/MyJavascripts/Assignee.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script src="https://unpkg.com/bootstrap-multiselect@0.9.13/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
}