#loginFormDiv {
    background-color: #fff;
    width: 358px;
    height: 278px;
    margin: auto;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

#create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

input[type="button"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 32px;
    width: 212px;
}

    input[type="button"]:hover {
        background-color: #3c8dbc;
        border-color: #367fa9;
        transition: all 0.2s ease;
    }

h3 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pageTitle {
    font-size: 30px;
}

#btnlogin {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 201px;
    margin-left: 28px;
    margin-right: 25px;
}

.fa-eye, .fa-eye-slash {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: black;
}